body {
    margin: 0;
    text-align: center;
    background-color: #EEE;
    font-size: 17px;
    color: #333333;
    font-family: Arial;
    
}
#content {
    height: 290px;
    background-color: #F8F8FA;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px #AAA;
    position: relative;
    width: 400px;
    top: 50px;
    z-index: 0;
    margin: 0 auto;
}
.error
{
    color: #FF2A2A;
    padding: 0;
    margin: 0;
    height: 25px;
    padding-top: 7px;
    margin-left: 4px;
}
.top_label
{
    height: 20px;
    background-color: #BBB;
    border-radius: 5px 5px 0px 0px;
    text-align: left;
    font-size: 19px;
    padding: 5px;
    text-align:center;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BBB), to(#AAA));
    background: -moz-linear-gradient(0% 6% 270deg,#BBB, #AAA);
    background: linear-gradient(180deg,#BBB, #AAA);
}

.inside
{
    text-align:left;
    padding: 10px;
}
/*
input[type=text], input[type=password]
{
        box-shadow: 0 0 4px 1px #DDD;
}
input[type=text]:focus, input[type=password]:focus
{
        box-shadow: 0 0 4px 1px #AAA;
}*/